<h4>Reactive Form</h4>
<form [formGroup]="userForm" (ngSubmit)="getFormValue()">
    <input type="text" ngModel formControlName="txtBoxName"/> 
    <span *ngIf="nameValidation && nameValidation.invalid && nameValidation.touched">Name Invalid</span> <br/>
    <br/> <br/>

    <input type="text" ngModel formControlName="txtBoxEmail"/>
    <span *ngIf="emailValidation && emailValidation.invalid && emailValidation.touched">Email Invalid</span> <br/>
    <br/> <br/>

    <button [disabled]="userForm.invalid">ClickMe</button>
</form>